@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?o8fi24");
	src: url("fonts/icomoon.eot?o8fi24#iefix") format("embedded-opentype"),
		url("../img/icons/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff?o8fi24") format("woff"),
		url("../fonts/icomoon.svg?o8fi24#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"] ::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-d1:before {
	content: "\e900";
}
.icon-d2:before {
	content: "\e901";
}
.icon-d3:before {
	content: "\e902";
}
.icon-d4:before {
	content: "\e903";
}
.icon-f1:before {
	content: "\e904";
}
.icon-f2:before {
	content: "\e905";
}
.icon-f3:before {
	content: "\e906";
}
.icon-f4:before {
	content: "\e907";
}
.icon-g1:before {
	content: "\e908";
}
.icon-g2:before {
	content: "\e909";
}
.icon-g3:before {
	content: "\e90a";
}
.icon-h1:before {
	content: "\e90b";
}
.icon-h2:before {
	content: "\e90c";
}
.icon-h3:before {
	content: "\e90d";
}
.icon-m1:before {
	content: "\e90e";
}
.icon-m2:before {
	content: "\e90f";
}
.icon-w1:before {
	content: "\e910";
}
.icon-w2:before {
	content: "\e911";
}
.icon-w3:before {
	content: "\e912";
}
.icon-w4:before {
	content: "\e913";
}
.icon-w5:before {
	content: "\e914";
}
.icon-w6:before {
	content: "\e915";
}
