//====================================================================================================
.header {
	background: url(../img/backhead-1.jpg)0 0/cover no-repeat;;
	min-height: 924px;

	// .header__body

	&__body {
	}

	// .header__top

	&__top {
		display: flex;
		max-width: 504px;
		justify-content: space-between;
		min-height: 104px;
		@media (max-width: 991px) {
			max-width: 100%;
		}
		@media (max-width: 443px) {
			flex-direction: column;
		}
	}

	// .header__logo

	&__logo {
		font-size: 24px;
		margin: auto 0;
		font-weight: 700;
		color: #252b42;
	}

	// .header__links

	&__links {
		display: flex;
		min-width: 280px;
		justify-content: space-between;
		margin: auto 0;
	}

	// .header__link

	&__link {
		font-size: 14px;
		color: #737373;
		font-weight: 600;
		transition-duration: 1s;
	}

	&__link:hover {
		color: #0d5c63;
		transition-duration: 0.5s;
	}

	// .header__middle

	&__bottom {
		min-height: 820px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 1058px) {
			min-height: 1350px;
		}
	}

	// .header__heading

	&__heading {
		font-size: calc(35px + (58 - 35) * (100vw / 1046));
		font-weight: 800;
		line-height: 69px;
		color: #252b42;
		padding: 70px 0px 0px 0px;
		transition: all 1s ease 0s;
		transform: translate(0%, -50%);
		opacity: 0;
		@media (max-width: 991px) {
			margin: 0 auto;
			text-align: center;
		}
	}

	&__heading._active {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	// .header__text

	&__text {
		font-size: calc(15px + (20 - 15) * (100vw / 1046));
		color: #737373;
		line-height: 26px;
		transition: all 1s ease 0s;
		transform: translate(0%, -30%);
		opacity: 0;
		@media (max-width: 991px) {
			margin: 0 auto;
			text-align: center;
		}
	}

	&__text._active {
		opacity: 1;
		transform: translate(0px, 10%);
	}

	// .header__buttons

	&__buttons {
		display: flex;
		justify-content: space-around;
		max-width: 354px;
		padding: 0px 0px 50px 0px;
		@media (max-width: 991px) {
			margin: 0 auto;
			min-width: 354px;
		}
		@media (max-width: 388px) {
			flex-direction: column;
			min-height: 175px;
			min-width: 100%;
		}
		
	}

	// .header__button-get

	&__button-get {
		min-width: 187px;
		min-height: 48px;
		background: #ff7b47;
		border-radius: 37px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		font-weight: 700;
		transition: all 400ms ease;
		transform: translate(-50%, 0%);
		opacity: 0;
		@media (max-width: 388px) {
			max-width: 187px;
			margin: 0 auto;
		}
	}

	&__button-get._active {
		opacity: 1;
		transform: translate(0%, 0%);
	}

	&__button-get:hover {
		transform: scale(0.9);
	}

	&__button-text-get {
		font-size: 14px;
		color: #ffff;
	}
	// .header__button-lern

	&__button-lern {
		min-width: 157px;
		min-height: 48px;
		background: #0d5c6300;
		border: #0d5c63 1px solid;
		border-radius: 37px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		font-weight: 700;
		transition: all 400ms ease;
		transform: translate(-20%, 0%);
		opacity: 0;
		@media (max-width: 388px) {
			min-width: 187px;
			margin: 0 auto;
		}
	}

	&__button-lern._active {
		opacity: 1;
		transform: translate(0%, 0%);
	}

	&__button-lern:hover {
		transform: scale(0.9);
	}

	&__button-text-lern {
		font-size: 14px;
		color: #0d5c63;
	}

	// .header__cards

	&__cards {
		display: flex;
		justify-content: space-between;
		margin: 0;
		min-width: 50%;
		@media (max-width: 1058px) {
			//flex-wrap: wrap;
			//margin-right: 140px;
			flex-direction: column;
			min-height: 820px;
		}
	}

	// .header__card

	&__card {
		min-height: 242px;
		max-width: 329px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #ffff;
		box-shadow: 0px 0px 31px -8px rgba(34, 60, 80, 0.2);
		transition: all 1s ease 0s;
		transform: translate(0%, -30%);
		opacity: 0;
		@media (max-width: 1058px) {
			min-width: 100%;
			text-align: center;
		}
	}

	&__card._active:first-child {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	&__card._active:nth-child(2n) {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	&__card._active:last-child {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	&__card-2 {
		transition: all 1.5s ease 0s;
	}

	&__card-3 {
		background-color: #0d5c63;
		transition: all 2s ease 0s;
	}
	// .header__card-icon

	&__card-icon {
		font-size: 48px;
		padding: 35px 0px 0px 40px;
		@media (max-width: 1058px) {
			padding: 35px 0px 0px 0px;
		}
	}

	&__card-3 {
		color: #ffff;
	}
	// .header__card-heading

	&__card-heading {
		font-size: 24px;
		font-weight: 700;
		color: #252b42;
		padding: 0px 0px 0px 40px;
		line-height: 29px;
		@media (max-width: 1058px) {
			padding: 0;
		}
	}
	&__card-heading-3 {
		color: #ffff;
	}

	// .header__card-text

	&__card-text {
		padding: 0px 40px 35px 40px;
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		@media (max-width: 1058px) {
			padding: 0px 0px 35px 0px;
		}
	}

	&__card-text-3 {
		color: #ffff;
	}
}

.icon-h1 {
	color: #0d5c63;
}
.icon-h2 {
	color: #0d5c63;
}
.icon-h3 {
}

//====================================================================================================
/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
